

     div>p{
            margin-top: 130px;
            font-weight: 500;
            display: flex;
     }

     .ala{background-color:lightslategrey;}

     .carousel{
        display:flex;
        width:70%;
        height:70%;
        margin-top:100px;
}
.a{ 
        margin-bottom: 20px;
        margin-left: 30px;
}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      